.about-project {
  margin: 0;
  padding: 0 70px;
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  background: #202020;
  height: 608px;
}

.about-project__title {
  margin: 110px 0 0 0;
  padding: 0;
  width: 600px;
  height: 27px;
  display: grid;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-project__line {
  height: 0;
  margin: 23px 0 0 0;
  padding: 0;
  border-bottom: 1px #DADADA solid;
}

.about-project__description {
  margin: 70px 0 0 0;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 26px;
}

.about-project__subtitle {
  margin: 0;
  padding: 0;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__text {
  margin: 0;
  padding: 0;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__stages {
  margin: 110px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 228px auto;
  grid-template-rows: 36px auto;
  row-gap: 14px;
}

.about-project__stages-first {
  margin: 0;
  padding: 0;
  background: #3DDC84;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.about-project__stages-seconds {
  margin: 0;
  padding: 0;
  background: #303030;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
}

.about-project__stages-text {
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #8B8B8B;
}
