.footer {
  margin: 0;
  padding: 0 70px;
  display: grid;
  background: #202020;
}

.footer__title {
  display: grid;
  margin: 79px 0 0 0;
  padding: 0;
  justify-items: center;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__line {
  height: 0;
  margin: 20px 0 0 0;
  padding: 0;
  border-bottom: 1px #424242 solid;
}

.footer__menu {
  display: grid;
  margin: 20px 0;
  padding: 0;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__menu-link {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  list-style-type: none;
}

.footer__link {
  margin: 0;
  padding: 0;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__url {
  color: #FFFFFF;
}
